## 1. Import our dataset

In [1]:
import pandas as pd

In [2]:
music_data = pd.read_csv('music.csv')

In [3]:
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

## 2. Clean/Prepare our dataset
- Includes removing duplicates, filling empties,nulls et
- since our data is clean i.e has no duplicates and no nulls, we won't clean it.
- We will skip this step for now

## 3. Splitting into input and outputs

In [4]:
# Input dataset is age and gender while output data in the genre
X = music_data.drop(columns = ['genre'])
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [5]:
# print out the output data
y = music_data['genre']
y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

## 4. Creating a Model
#### Decision Tree 
- This is a supervised ML Algorithm that clasifies 

We will use Decission Tree Model to classify and categorise into Hip hop, jazz, etc

In [6]:
from sklearn.tree import DecisionTreeClassifier

In [7]:
model = DecisionTreeClassifier()

## 5. Train the Model
- This is to enable our decision Tree model to learn patterns in the data we've fed into it.

This is done by calling the model.fit()

In [8]:
model.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

## 6. Make Predictoins
We'll predict the kind of music that a 21 yr old male and a 22 yr old female would like.
So our input parameters will be their ages and gender as shown below

In [9]:
predictions = model.predict([[21, 1], [22, 0]])

In [10]:
# Call the predicted to see the output
predictions

array(['HipHop', 'Dance'], dtype=object)

## 7. Calculating the accuracy of the Model
- we need to split the data into train and test dataset.

80% Train and 20% testing

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score #For accuracy assesmnt

We unpack the tuple into 4 variables(the first two will be input train and test and the last two are the outputs for training and testing)

In [12]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size = 0.2)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = accuracy_score(y_test, predictions)
score

1.0

### 8. Model Persistence
 This means we make a pretrained model and save it in a file in our app such that whenever we want to make predictions, we just load it from our file and directly predict without necessarily retrainnng it now and again. This will save us time and computational resources as well.

This makes our model be like an intelligent person